:root {
    --full-height: 100vh;
    --padding-height: 5vh;
    --header-height: 40px;
    --mainview-height: calc(var(--full-height) - var(--header-height));
    --module-card-height: calc(var(--mainview-height) - (2 * var(--padding-height)));
    --module-nav-height: 30px;
    --module-progress-height: 80px;
    --module-content-height: calc(var(--module-card-height) - var(--module-nav-height) - var(--module-progress-height));
}
.cust-vh-full {
    height: var(--full-height);
}
.cust-header-height {
    height: var(--header-height);
}
.cust-mainview {
    height: var(--mainview-height);
    padding-top: var(--padding-height);
    padding-bottom: var(--padding-height);
}
.cust-module-nav-height {
    height: var(--module-nav-height);
}
.cust-module-progress-height {
    height: var(--module-progress-height);
}
.cust-module-content {
    height: var(--module-content-height);
    overflow-y: auto;
}
.cust-card {
    height: var(--module-card-height);
    padding: 0;
}
.cust-display-modal {
    display:block;
}
.cust-header-font-height {
    font-size: 14px;
}
.cust-certificate-width {
    width: 210mm;
}
.cust-certificate-font {
    font-family: 'Tangerine', serif;
    font-size: 56px;
}
@media only screen and (min-width: 320px) {
    .cust-header-font-height {
        font-size: calc(10px + 1.3vw);
    }
}
@media only screen and (min-width: 960px) {
    .cust-header-font-height {
        font-size: 24px;
    }
}